/*****tag selection*****/

body {
    background-color: rgba(175, 240, 248, 0.781);
    margin: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgba(0, 186, 192, 0.842);
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Parisienne', cursive;
    /* same margin: 0 auto 0 auto;*/
}

h2 {
    color: rgba(35, 193, 199, 0.842);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: rgba(0, 108, 112, 0.699);
    font-family: 'Montserrat', sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(3, 27, 54);
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

span {
    text-decoration: underline;
}

hr {
    background-color: background-color;
    border-style: dotted none none none;
    border-color: rgb(149, 225, 228);
    border-width: 7px;
    height: 0px;
    width: 15%;
    margin: 30 auto 30 auto;
}

p {
    color: #1b1d1dee;
    line-height: 2;
}

table {
    color: #1b1d1ddc
}


/*
div {
    padding: 20px;
}
*/


/*****class selection*****/

.topContainer {
    background-color: rgba(111, 235, 252, 0.438);
    position: relative;
    /*so that the top cloud which is out of the flow can push off of*/
    padding-top: 200px;
}

.middle-container {
    background-color: rgba(205, 237, 241, 0.822);
}

.bottom-container {
    background-color: #11cdd4;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    top: 10%;
    right: 15%;
}

.bottom-cloud {
    position: absolute;
    left: 15%;
}

.profile-pic {
    width: 200px;
    height: 175px;
    border-radius: 20%;
    margin: 60px;
}

.icon_pic {
    float: left;
    width: 50px;
    height: 45px;
    margin-right: 30px;
}

.skill-row {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.Contact-me {
    text-align: center;
    line-height: 2;
    padding-bottom: 50px;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding-top: 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


/*****id selection*****/

#mountain {
    height: auto;
    width: 75%;
}